.Ntooltip {
	/*position: relative;  es la posición normal */
	/*text-decoration: none !important;  forzar sin subrayado */
	/*color:#0080C0 !important;  forzar color del texto */
	/*font-weight:bold !important;  forzar negritas */
}

.Ntooltip:hover {
	/*z-index:999;  va a estar por encima de todo */
	/*background-color:#000000;  DEBE haber un color de fondo */
}

.Ntooltip span {
	display: none; /* el elemento va a estar oculto */
}

.Ntooltip:hover span {
	display: block; /* se fuerza a mostrar el bloque */
	z-index:999;
	position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
	top:2em; left:2em; /* donde va a estar */
	width:90px; /* el ancho por defecto que va a tener */
	padding:5px; /* la separación entre el contenido y los bordes */
	background-color: #0080C0; /* el color de fondo por defecto */
	color: #FFFFFF; /* el color de los textos por defecto */
	text-align:center;
}