@(username: String)

@main(username) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/strategy.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/smoke.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dark.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tooltip.css")">

<div id="onError" class="alert-message error">
    <p>
        <strong>Oops!</strong> <span></span>
    </p>
</div>

<div id="players">
    <div id="myPlayer"></div>
    <div id="opPlayer"></div>
</div>

<div id="boards">
    <div id="myBoard"></div>
    <div id="opBoard"></div>
    <div id="strategyBoard"></div>
    <div id="shipsBoard">
		<div id="shipsBoardAircraft">
        	<div id="aircraft" class="Ntooltip">
				<span>
					@Messages("aircraft")
				</span>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        	</div>
        </div>
		<div id="shipsBoardCruiser" class="Ntooltip">
        	<div id="cruiser">
				<span>
					@Messages("cruiser")
				</span>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        	</div>
        </div>
		<div id="shipsBoardBattleship" class="Ntooltip">
        	<div id="battleship">
				<span>
					@Messages("battleship")
				</span>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
        	</div>
        </div>
		<div id="shipsBoardSubmarine" class="Ntooltip">
        	<div id="submarine">
				<span>
					@Messages("submarine")
				</span>
        		<div class="sheep"></div>
        		<div class="sheep"></div>
				<div class="sheep"></div>
        	</div>
        </div>
		<div id="shipsBoardDestroyer" class="Ntooltip">
        	<div id="destroyer">
				<span>
					@Messages("destroyer")
				</span>
        		<div class="sheep"></div>
				<div class="sheep"></div>
        	</div>
        </div>
    </div>
</div>
<div id="onChat">
	<div id="main">
        <div id="messages">
        </div>
    </div>
	<div id="talkInput">
		<input id="talk" type="text" placeholder='@Messages("chat.here")'>
	</div>
</div>
<div id="buttonZone">
    <input id="xArea" type="text" placeholder="X">
    <input id="yArea" type="text" placeholder="Y">
    <button id="sendStrategyBt" onclick="sendStrategy()">@Messages("send.strategy")</button>
    <button id="randomStrategyBt" onclick="sendRandomStrategy()">@Messages("send.random.strategy")</button>
    <button id="fireBt" onclick="fire()">@Messages("fire")</button>
    <button id="autoBt" onclick="autoPlay()">@Messages("auto.play")</button>
    <button id="playersBt" onclick="playersInfo()">@Messages("players.info")</button>
    <button id="infoBt" onclick="getServerInfo()">@Messages("server.info")</button>
    <button id="hideChatBt" onclick="hideChat()">@Messages("chat")</button>
</div>

<script src="@routes.Assets.at("javascripts/smoke.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.i18n.properties.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.1.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/webSocket.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/battleShip.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/dragAndDrop.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/strategyConfig.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function() { initWebSocket("@routes.Application.game(username).webSocketURL(request)"); });
	window.alert = function(txt) {
		smoke.alert(txt);
	}
    $.i18n.properties({
            name: 'messages',
            path: '/i18n?',
            mode: 'map',
            cache: true,
            language: 'kk'
        });

</script>


}