@(connected: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("BATTLESHIP.GAME")</title>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        
		@if(connected == null) {
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
		}else{
			<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
			<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.jpg")">
		}

        <script type="text/javascript">
                  function checkLoginState() {
                      FB.getLoginStatus(function(response) {
                          if (response.status === 'connected') {
                              console.log(response.authResponse.accessToken);
                              FB.api('/me', function(response) {
                                  console.log(JSON.stringify(response));
                                  name= response.first_name+" "+response.last_name;
                                  console.log(name);
                                  document.querySelector("#username").value = name;
                                  document.querySelector("#loginForm").submit();
                              });
                          }
                          console.log(response);
                      });
                  }
        </script>


    </head>

    <body>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '605996112850695',
                xfbml      : true,
                version    : 'v2.0'
            });
            /*
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    console.log('Logged in.');
                }
                else {
                    FB.login();
                }
            });*/
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

        <!--[if IE]><h3 class=chromeframe>Your browser can't render this site. <a href="http://www.google.com/chromeframe/?redirect=true">Click to Fix it!</a></h3><![endif]-->
        @if(connected != null) {
			<div class="topbar">
            	<div class="fill">
                	<div class="container">
                    	<a class="brand" href="@routes.Application.index()">DPOI - @Messages("BATTLESHIP")</a>
                        <p class="pull-right">
                            @Messages("logged.in.as") @connected —
                            <a href="@routes.Application.index()">@Messages("disconnect")</a>
                        </p>
                    	<p class="pull-left">
                        	<a href="@routes.Application.ranking">@Messages("ranking")</a>
                    	</p>
                	</div>
            	</div>
        	</div>
		}
        <div class="container">
			@if(connected == null) {
				<div id="login">
					<form id="loginForm" action="@routes.Application.chatRoom()">
						<div id="black-opacity">
							<input id="username" name="username" class="input-large" type="text" placeholder='@Messages("username")'>
							<button id="btnSingIn" class="btn" type="submit">@Messages("sign.in")</button>
                            <fb:login-button scope="public_profile" onlogin="checkLoginState();">
                        </fb:login-button>

						</div>
					</form>


				</div>
				<div id="game">
					<img src="@routes.Assets.at("images/background.png")" alt="">
				</div>
            }else{
				<div class="content">
	                @content
	            </div>
			}
        </div>
    </body>
</html>